#page-header.about-header{
    background: url(../assets/about/banner.png);
    background-position: center;
    background-size: cover;
}



@media screen and (max-width:477px){
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding-left: 0px;
    }
    #about-app .video {
        width: 100%;
    }
}