<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cara - Your Ecommerce App</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icon.png') }}" type="image/.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsiveHome.css') }}">
</head>

<body>
    {% if data_value %}
    <p id = "backend-host" style="display: none;">{{data_value}}</p>
    {% endif %}

    <section id="header">
        <a href="./index.html"><img src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo" class="logo">
        </a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="/index.html">Home</a></li>
                <li><a href="./sub-pages/shop.html">Shop</a></li>
                <li><a href="./sub-pages/blog.html">Blog</a></li>
                <!-- <li id="sign-in"><a href="./sub-pages/sign-in.html">Sign in</a></li>
                <li id="sign-up"><a href="./sub-pages/sign-up.html">Sign up</a></li>
                <li id="lg-user"><a href=""><i class="far fa-user"></i></a></li>
                <li id="logout"><a href="">Logout</a></li> -->
                <li class="lg-bag"><a href="./sub-pages/cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>

        </div>
        <div id="mobile">

            <a href="./sub-pages/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
            <i id="bar" class="fa-solid fa-bars"></i>
        </div>
    </section>
    <section id="hero">
        <h4>Trade-In-Offer</h4>
        <h2>Super Value Deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button> Shop Now</button>
    </section>
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="{{ url_for('static', filename='assets/features/f1.png') }}" alt="F-1">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="{{ url_for('static', filename='assets/features/f2.png') }}" alt="F-2">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="{{ url_for('static', filename='assets/features/f3.png') }}" alt="F-3">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="{{ url_for('static', filename='assets/features/f4.png') }}" alt="F-4">
            <h6>Promotion</h6>
        </div>
        <div class="fe-box">
            <img src="{{ url_for('static', filename='assets/features/f5.png') }}" alt="F-5">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="{{ url_for('static', filename='assets/features/f6.png') }}" alt="F-6">
            <h6>24/7 Support</h6>
        </div>
    </section>

    <section id="banner" class="section-m1">
        <h4>Repair Services</h4>
        <h2>Up to <span>70% Off</span> All t-shirt & Accessories</h2>
        <button class="normal">Explore More</button>
    </section>

    <section id="sm-banner" class="section-p1">
        <div class="bannner-box">
            <h4>crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
            <span>The Best classic dress is on sale at cara</span>
            <button class="white">Learn More</button>
        </div>
        <div class="bannner-box">
            <h4>spring/summer</h4>
            <h2>upcoming season</h2>
            <span>The Best classic dress is on sale at cara</span>
            <button class="white">Collectione</button>
        </div>
    </section>
    <section id="banner3">
        <div class="banner-box">
            <h4>SEASON SALE</h4>
            <h3>winter Collection -50% OFF</h3>
        </div>
        <div class="banner-box banner-box2">
            <h4>NEW FOOTWEAR COLLECTION</h4>
            <h3>spring / summer 2023</h3>
        </div>
        <div class="banner-box banner-box3">
            <h4>T-SHIRT</h4>
            <h3>New Trendy Prints</h3>
        </div>
    </section>
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>sign up for newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
    <footer class="section-p1">
        <div class="col">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo" class="logoS">
            <h4>Contact</h4>
            <p><strong>Address:</strong>562 Wellington Road, Street 32,san Freancisco</p>
            <p><strong>Phone:</strong>+01 2222 3665 / (+91) 01 2345 6763</p>
            <p><strong>Hours:</strong>10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Poilcy</a>
            <a href="#">Terms & Condition</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account </h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My WishList</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="{{ url_for('static', filename='assets/pay/app.jpg') }}" alt="app">
                <img src="{{ url_for('static', filename='assets/pay/play.jpg') }}" alt="play">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="{{ url_for('static', filename='assets/pay/pay.png') }}" alt="pay">
        </div>
        <div class="copyright">
            <p>2023 , Tejas Nasre - HTML CSS JS Ecommerce Template</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/responsiveHome.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
</body>

</html>